[loggers]
keys=root,comms.mqtt

[logger_root]
level=WARNING
handlers=file,console

[logger_comms.mqtt]
level=DEBUG
handlers=file,console
qualname=comms.mqtt
propagate=0

[formatters]
keys=simple,complex

[formatter_simple]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatter_complex]
format=%(asctime)s - %(name)s - %(levelname)s - %(threadName)s:%(module)s:%(lineno)d - %(message)s

[handlers]
keys=file,console

[handler_file]
class=logging.handlers.RotatingFileHandler
maxBytes=1024000
backupCount=5
formatter=complex
level=DEBUG
args=('target/logs/mqtt-comms.log',)

[handler_console]
class=StreamHandler
level=DEBUG
formatter=complex
args=(sys.stdout,)