[loggers]
keys=root,comms.mqtt

[logger_root]
level=WARNING
handlers=console

[logger_comms.mqtt]
level=WARNING
handlers=console
qualname=comms.mqtt
propagate=0

[formatters]
keys=simple,complex

[formatter_simple]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatter_complex]
format=%(asctime)s - %(name)s - %(levelname)s - %(threadName)s:%(module)s:%(lineno)d - %(message)s

[handlers]
keys=console

[handler_console]
class=StreamHandler
level=WARNING
formatter=complex
args=(sys.stdout,)